*{
    margin: 0 auto;
    padding: 0 ;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;


}
.input-containers{
   width: 100%;
   height: 40%;
   background-color: rgb(60, 60, 68);
   background-attachment: fixed;
   display: flex;
   flex-direction: column;
}
.titleContainer{
    width: 30%;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.titleContainer input{
    width: 100%;
    height: 100%;
    color: rgb(73, 73, 73);
    font-size: 25px;
    outline: none;
}
.textArea-container{
    width: 30%;
    height: 300px;
    margin-bottom: 20px;

}
.textArea-container textarea{
    width: 100%;
    height: 100%;
    color: rgb(73, 73, 73);
    font-size: 25px;
    outline: none;
}
.button-container button{
    width: 200px;
    height: 50px;
    border: none;
    color: #fff;
    font-size: 25px;
    background-color: rgb(32, 240, 240);
}
.button-container button:hover{
    background-color: rgb(255, 196, 0);
  
}
.note-body{
    width: 100%;
    height: 60%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.notes{
    margin-top: 20px;
    width: 400px;
    height: 400px;
    box-shadow: 8px 8px 11px rgb(60, 60, 68);
}
.note-delete-container{
    width: 100%;
    height:30px;
    background-color: rgb(60, 60, 68);
    display: flex;
    position: relative;
    

}
.note-delete-container button{
    position: absolute;
    bottom: 0px;
    right: 20px;
    width: 100px;
    height: 25px;
    font-size: 20px;
    color: #fff;
    background-color: transparent;
    outline: none;
    border: none;
}
.note-delete-container button:hover{
    color: #3dcfb0;
}
.content{
    display: flex;
    flex-direction: column;
}
.content h2{
    padding-top: 10px;
    padding-bottom: 20px;
}
.content p{
    font-size: 25px;
    text-align: center;
}